body {
    text-align: center;
    background: #121212;
    color: white;
    font-family: Arial;
}

.screen {
    margin-top: 50px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#clickButton {
    font-size: 30px;
    padding: 20px 40px;
}
